body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
.header {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    font-family: Roboto;
    display: inline-flex;
    align-items: center;
}

.header__logo:hover {
    color:#6786b8;
    cursor: pointer;
    transition: color 0.3s;
}

.logo_pic{
    border:0;
    width:20px;
    height:20px;
}

.rules{
    display: inline-flex;
    float: right;
    background-color: #d1dced;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
    margin: auto 10px ;
    font-size: 17px;
    font-weight: 700;
    background-image: linear-gradient(#6786b8, #6786b8);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;

}

.rules:hover{
    background-size: 100% 100%;
    color: white;
    cursor: pointer;
}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;


    background-color: #e7fcff;
    -webkit-background-size: cover;
    background-size: cover;
}

.chess{
    margin-top: 9vh;
    display: flex;
    text-align: center;
}

.chess td{
    width: 20vh;
    height:20vh;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid #000;
}

.chess td:hover{
    transition: background .1s linear, color .1s linear;
    background-color: #d5ffd9;
    cursor: pointer;

}

.chess th{
    padding: .5em;  
    margin:0;
}

.board{
    text-align: center; 
    justify-content: center;
}

.black{
    background: #6786b8;
}

.white{
    background: #d1dced;
}

.choose__logo{
    margin-top: 30vh;
    font-size: 30px;
    font-weight: 700;
    font-family: Roboto;
    vertical-align: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
.choose__intro{
    vertical-align: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;


    background-color: #e7fcff;
    -webkit-background-size: cover;
    background-size: cover;
}

.dif__button{
    
    text-align: center;
    width: 40vh;
    height: 8vh;
    background-color: #d1dced;
    border: 3px solid #000;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
    font-size: 17px;
    font-weight: 700;
    background-image: linear-gradient(#6786b8, #6786b8);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;

}

.dif__button:hover{
    background-size: 100% 100%;
    color: white;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #d1dced;
    margin: 5% auto;
    height: 50%;
    padding: 20px;
    padding-top: 0px;
    border: 10px solid #6786b8;
    border-radius:15px;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    margin-top:0;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_menu{
    vertical-align: center;
    margin-top: 14%;
    display: none; 
    right:0px;
    width: 46vh; 
    height: 50%; 
    overflow: auto; 
    background-color: #d1dced;
    border: 10px solid #6786b8;
    border-radius: 17px;
  }

  .menu_content{
      width: 100%;
      height: 50%;
     
  }

  .menu_button{
      width: 95%;
      height: 40%;
      background-color: #d1dced;
      border: 3px solid #000;
      border-radius: 10px;
      font-family: 'Montserrat', sans-serif;
      margin: 3px;
      font-size: 17px;
      font-weight: 700;
      background-image: linear-gradient(#6786b8, #6786b8);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size .5s, color .5s;
  }
  .menu_button:hover{
    background-size: 100% 100%;
    color: white;
    cursor: pointer;
  }